body {
background-color:#FFF;
font-family:georgia, times, serif;
font-size:16px;
padding:0;
}

.fore {
background-color:#f8f8f8;
color:#222;
border:1px solid #aaa;
padding:24px;
}

a {
color:#4A78BA;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

a.gray {
color:#bbb;
}

a.gray:hover {
text-decoration:none;
}

.indent {
margin-left:24px;
}

small {
font-size:15px;
}

h1 {
font-size:24px;
margin:9px 0 6px;
padding:0;
}

h2 {
position:relative;
font-size:22px;
border-top:1px solid #bbb;
line-height:24px;
margin:20px 0 -2px;
padding:14px 0 0;
}

h2 span {
float:right;
font-size:16px;
padding-top:2px;
}

h2 span a {
margin-left:12px;
}

h3 {
font-size:19px;
margin:24px 0 13px;
padding:0;
}

table {
border:0;
margin:0;
}

#border {
width:800px;
border:1px solid #aaa;
background-color:#f8f8f8;
padding:24px 0;
}

.column {
position:relative;
text-align:left;
vertical-align:top;
padding:0 24px;
}

.column#left {
width:336px;
border-right:1px solid #ccc;
}

p {
margin:14px 0 0;
padding:0;
}

img {
border:0;
}

#title {
border-bottom:1px solid #bbb;
margin:0 0 15px;
padding:0 0 18px;
}

#contact {
margin-left:13px;
}

#contact td {
text-align:left;
vertical-align:top;
padding-bottom:9px;
margin:0;
}

#contact td.l {
text-align:right;
font-style:italic;
padding-right:12px;
}

.title {
margin:0 0 3px;
}

.altlink {
margin-left:6px;
font-size:90%;
}

.rule {
margin-top:20px;
padding-top:14px;
border-top:1px solid #bbb;
}

h2.top,h2.bottom {
border:0;
margin:0;
padding:0;
}